<!DOCTYPE html>
<html>
    <head>
        <title>
            register
        </title>
    </head>
    <body>
        {% macro input(name, value, type, size) %}
            <div class="form-group">
                <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" required />
            </div>
        {% endmacro %}

        {% import _self as forms %}

        <form action="register.php" method="post">
            <label>firstname</label>{{forms.input("frm_firstname",null,"text")}}
            <label>lastname</label>{{forms.input("frm_lastname",null,"text")}}
            <label>password</label>{{forms.input("frm_password",null,"password")}}
            <label>email</label>{{forms.input("frm_email",null,"email")}}
            {{forms.input("frm_submit","Register","submit")}}
        </form>
    </body>
</html>

