<!DOCTYPE html>
<html>
    <head>
        <title>
            login
        </title>
    </head>
    <body>
        {% macro input(name, value, type, size) %}
            <div class="form-group">
                <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" required />
            </div>
        {% endmacro %}
        {% import _self as forms %}
        <p>{{msg}}</p>
      
        <form action="changepwd.php" method="post">
            <label>password</label>{{forms.input("password",null,"password")}}
            <label>confirm password</label>{{forms.input("cpassword",null,"password")}}
            
            <input type="hidden" value="{{id}}" name="id">
            {{forms.input("frm_submit","Submit","submit")}}
        </form>
    </body>
</html>



